.content{
    text-align: center;
    padding: 20px;
    font-family: "Courier New";
}
.App img{
    width: 80%;
    border-radius: 10PX;
    max-width: 500px;
}
.content section{
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: auto;
}

.content section input{
    border-radius: 10px;
    padding: 5px;
    border: none;
    margin-bottom: 10px;
}
.content section button{
    border-radius: 10px;
    padding: 5px;
    border: none;
    width: 50px;
    color: white;
    background-color: #54abaf;
    margin-left: 10px;
}
.content section button:active{
    
    background-color: #1a5f63;
}